body {
background-color:#39F;
margin:0 auto;
}	


#maincontainer {
	margin:0 auto;
	width:90%;
	background-color:#CCC;
	height:auto;
	}
	
#buttonzone{
	width:100%;
	background-color:green;
	float:right;
	height:150px;
	}
	
#buttonzone2{
	width:100%;
	background-color:transparent;
	float:right;
	height:auto;
	margin-top:25px;
	}	

#announce{
	width:100%;
	background-color:#03F;
	float:left;
	height:50px;
	text-align:center;
	color:#fff;
	padding:10px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.7em;
}

#announce2{
	width:100%;
	background-color:#03F;
	float:left;
	height:50px;
	text-align:center;
	color:#fff;
	padding:10px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:2em;
	margin-bottom:50px;
	margin-top:-10px;
}

#visual{
	width:100%;
	background-color:transparent;
	float:left;
	height:auto;
	text-align:center;
	margin-top:25px;
	margin-bottom:0px;

}


img {
	width:100%;
}


	
section {
	float:left;
	width:100%;
	height:500px;
	background-color:pink;
	} /*must match script dimension*/
		
		
a.button{
  display:inline-block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  width:24.85%; 
  height:25px;
  padding:5px 0px 0px 0px; /*padding on buttons*/
  border:1px #000 solid;
  text-align:center;
  text-decoration:none;
  color:#fff;
  background-color:#999;
  margin-right:-5px; /*shoves buttons together*/
  margin-bottom:0px;
 
}

a.button:hover{
  background-color:#CCCCCC;
  text-decoration:none;
  color:#000;
}





